


<body>

<p>
    {{ Welcome }}
<form action="/index.php?page=StartGameController" method="post">
    <label for="AmountTeams">Teams</label><br>
    <input type="text" name="amountTeams" value=""><br>
   <br>
    <input type="submit" name="submit"  value="Next">
</form>

</p>

</body>