<p>
    Anzahl der Teams {{ amountTeams }}
</p>
   <br>
<form action="/index.php?page=GamePlanController&Teams={{ amountTeams }}" method="post">
    <br>
    <input type="submit" name="submit" value="Start Game ">
</form>
